{% extends "base.html" %}

{% block content %}
<div class="container">

    

    <!-- Summary Cluster -->
    <div class="card mb-4">
        <div class="card-header bg-success text-white">Rata-rata Tiap Cluster</div>
        <div class="card-body">
            {{ summary|safe }}
        </div>
    </div>

    <!-- Data Tiap Cluster -->
    {% for c, rows in cluster_groups.items %}


    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            Cluster {{ c }}
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Age</th>
                        <th>Income</th>
                        <th>Spending</th>
                        <th>Cluster</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row.age }}</td>
                        <td>{{ row.Pendapatan }}</td>
                        <td>{{ row.Pengeluaran }}</td>
                        <td>{{ row.cluster }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
